*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background: url('../images/bakgrund2.svg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
} */
.planetInfo {
    display: grid;
    align-items: center;
    justify-items: center;
    position: absolute;
   
    width: 640px;
    height: 682px;
    right: 5rem;
    top: 2rem;
   padding: 50px;
}

h2{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;

    letter-spacing: 5.4px;
}

h3{
    color: #FFD029;
font-family: Lora;
font-size: 24px;
font-style: normal;
font-weight: 400;

letter-spacing: 14.4px;
}
tr{
    padding-top: 10px;
}
th{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.62px; 
}
td{
    color: #FFF;

    
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%;
    letter-spacing: 2.88px;
    
}
p{
    color: #FFF;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 170%; /* 30.6px */
   
}

table{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    font-family: 'Roboto', sans-serif;
   width:500px;
    
}






